<div class="card-body">
    
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Painel Aministrativo</h1>

        </div>
    </div>

    <div class="row">
        
        {{!-- <div class="col-lg-4 mt-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Administradores</h5>
                    <p class="card-text">Cadastrar novos administradores</p>
                    <a href="/usuario/cadastro" class="btn btn-primary">Acessar</a>
                </div>
            </div>
        </div> --}}

         <div class="col-lg-4 mt-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Socios</h5>
                    <p class="card-text">Gerenciar sócios</p>
                    <a href="/socio/index" class="btn btn-primary">Acessar</a>
                </div>
            </div>
        </div>

          <div class="col-lg-4 mt-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Parceiros</h5>
                    <p class="card-text">Gerenciar parceiros</p>
                    <a href="/parceiro/index" class="btn btn-primary">Acessar</a>
                </div>
            </div>
        </div>
        
    </div>
</div>