<div class="container mt-4">
    <h4>Cadastrar sócio</h4>
    <div class="card mt-4">
        <div class="card-body">


            <form action="/admin/create" method="POST" enctype="multipart/form-data">

                <label for="name">Nome: </label>
                <input type="text" name="nome" class="form-control" value="" required="true">
                <label for="cpf">CPF: </label>
                <input type="text" name="cpf" class="form-control" placeholder="Somente números" maxlength="11"
                    required="true">
                <label for="matricula">Matricula: </label>
                <input type="text" name="matricula" class="form-control" value="" placeholder="Somente números"
                    maxlength="11" required="true">
                <label for="matricula">Cruso: </label>
                <input type="text" name="curso" class="form-control" value="" required="true">

                 <label for="slug">Imagem: </label>

                <div class="input-group">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" name="file">
                        <label class="custom-file-label">Selecione a imagem</label>
                    </div>

                </div>

                <button class="btn btn-success mt-2" type="submit">Cadastrar</button>
            </form>
        </div>
    </div>

</div>
