<div class="card-body">
    <h3>Sócios</h3>
    <hr>
    <div class="card-columns">
        {{#each socio }}

        <div class="col-12">
            <div class="card">
              {{!-- <img src="https://avatars3.githubusercontent.com/u/28845658?s=460&v=4" class="card-img-top rounded" > --}}
                <div class="card-body">
                    <h5 class="card-title">{{name}}</h5>
                    <p class="card-text">{{cpf}}</p>
                    
                </div>
            </div>
        </div>


        {{/each}}

    </div>


</div>